@import "pygment.css";

body {
  font-family: monospace;
  background-color: #fffbf3;
  line-height: 1.4;
}

#banner nav {
  background: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

header nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

header nav li:not(:last-of-type) {
  margin-right: 1rem;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav li.active a {
  color: #8e7967;
}

header nav a:hover {
  color: gray;
}

hr {
  border: 0;
  margin-top: 1rem;
  border-top: 1px solid lightgray;
  width: 100%;
}

div.footnote {
  padding-top: 1rem;
}

div.footnote ol {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

footer {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a.tag {
  color: gray;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a.tag:hover {
  color: lightgray;
}

h1.article-title {
  margin-bottom: .25rem;
}

p.article-date {
  margin-top: 0;
  color: gray;
}

div.highlight {
  background-color: #f5f0e6;
  padding: 1rem;
  border-radius: .25rem;
}

pre {
  margin: 0;
}

h1.article-link {
  margin-bottom: .25rem;
}

h1.article-link a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

h1.article-link a:hover {
  color: #737373;
}

h4.article-link {
  margin-bottom: 0;
}

img {
  display: block;
  margin: auto;
  max-width: 500px;
}

code {
  padding: .2rem .4rem;
  background-color: #f5f0e6;
  border-radius: 3px;
}

blockquote {
  color: gray;
  font-style: italic;
  max-width: 75%;
  padding: auto;
  border-left: 2px solid black;
  padding-left: .5rem;
}

a {
  color: black;
}

a:not(.internal-link):not(.footnote-ref):not(.footnote-backref):after {
  font-size: .2rem;
  content: " ↗︎";
  /* border: 1px solid black; */
  /* margin: .2rem; */
}

a:hover {
  color: gray;
}

a.no-underline {
  text-decoration: none;
}
